[Unit]
Description=Hotmail sender service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/rolan/github/optiontrading/email_sender_service.py
Restart=always
User=rolan
Group=rolan

[Install]
WantedBy=multi-user.target
